@import url(reset.css);

html, body {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    box-sizing: border-box;
}

header {
    background-color: #000000ef;
    display: flex;
    justify-content: center;
    width: 100%;
    
}
.container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.header-right {
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    height: 60px;
    gap: 10px;

    .search-container {
        position: relative;
        display: flex;
        align-items: center;
    }

    #search {
        line-height: 30px;
        background-color: rgba(54, 54, 54, 0.473);
        border: 1px solid rgba(5, 5, 5, 0.493);
        width: 250px;
        padding: 0px 40px 0px 15px;
        border-radius: 3px;
        font-size: 13px;
        color: rgba(255, 255, 255, 0.705);
        transition: all 300ms;

        &:focus {
            outline: none;
            border: 1px solid rgba(255, 255, 255, 0.144);
            background-color: rgba(54, 54, 54, 0.7);
        }
    }

    .search {
        position: absolute;
        right: 0;
        outline: none;
        border: none;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        background: none;
        padding: 0 10px;
        font-size: 15px;
        color: rgba(255, 255, 255, 0.705);
        cursor: pointer;
        transition: all 300ms;
        height: 100%;
        display: flex;
        align-items: center;

        &:hover {
            background-color: rgb(37, 106, 255);
        }
    }
     .login {
        text-align:right;
        line-height: 30px;
        background-color: rgba(54, 54, 54, 0.473);
        border: 1px solid rgba(5, 5, 5, 0.493);
        width: 105px;
        padding: 0px 25px 0px 15px;
        border-radius: 3px;
        font-size: 15px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.705);
        transition: all 300ms;
        cursor: pointer;
        &:hover {
            color: white;
            background-color: rgb(85, 85, 85);
            }
        }
        .register {
            text-align:right;
            line-height: 30px;
            background-color: rgba(18, 156, 30, 0.473);
            border: 1px solid rgba(5, 5, 5, 0.493);
            width: 105px;
            padding: 0px 25px 0px 15px;
            border-radius: 3px;
            font-size: 15px;
            font-weight: 500;
            color: rgba(255, 255, 255, 1);
            transition: all 300ms;
            cursor: pointer;
            &:hover {
                color: white;
                background-color: rgba(26, 212, 41, 0.678);
                    }
                }
     
}
.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 60px;
    i {
        font-size: 25px;
        line-height: 60px;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.932);
        &:hover {
            color: white;
        }
    }
    a { 
        font-size: 20px;
        text-decoration: none;
        line-height: 60px;
        color: rgba(255, 255, 255, 0.842);
        &:hover {
            color: white;
        }
    }
    }
    
    
